@font-face {
    font-family: "Relative";
    src: url("./relative-faux-webfont.ttf")
  }

html,
body {
    color: white;
    background-color: #151515;
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Relative';
}

h1{
    text-align: center;
    margin: 0;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 400;
}

/* Scale canvas with resize attribute to full size */
canvas{
    width: 80%;
    height: 60%;
    box-sizing: border-box;
    margin: 0 auto;
}



.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
}

.container--input{
    display: inline-block;
    position: absolute;
    bottom: 2rem;
    right: calc(50% - 222px);
}


.input{
    float: left;
    border: none;
    border-radius: none;
    box-shadow: none;
    box-sizing: border-box;
    width: 400px;
    margin: 1rem auto;
    height: 44px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    font-weight: 300;
    padding: 0 16px;
    color: #8a8a8a;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('https://git-merge.com/2018/assets/images/form-bg.svg') top left/auto repeat;
}

.input--button{
    margin: 1rem 0;
    border: none;
    float: left;
    width: 44px;
    height: 44px;
    background: #ff6c81 url('https://git-merge.com/2018/assets/images/svgs/arrow-right.svg') center/20px 24px no-repeat;
    z-index: 1;
}

.input--description{
    text-align: center;
    color: #999;
}

